*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.App{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
.add{
    padding: 30px ;
    display: flex;
    gap: 5px;
}
.add input{
    border: 1px solid grey;
    padding: 5px 10px;
}
.add input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid rebeccapurple;
}
.add button{ 
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(21, 104, 221);
    color: #fff ;
    padding: 10px 30px;
    transition: background-color 0.3s
}
.add button:hover{
   background-color: rgb(169, 38, 38);
}
.list{
    padding:15px 30px 20px 30px;
}
.task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    background-color: rgb(128, 230, 250);
    border-radius: 5px;
    padding:5px;
}
.icon{
    cursor: pointer;
}